@@include('../chunks/head.html')
</head>

<body>
<div id="page-wrapper" class="page-wrapper">
  <div id="page-body" class="page-body">
    <div class="wrap">
      <div class="section1">
        <div class="wrapper">
          <div class="header-btn">
            <div class="header-btn1">
              <a href="#" title="Умови акції">Умови акції</a>
              <a href="#" title="Зворотній зв’язок">Зворотній зв’язок</a>
            </div>
            <a href="babyloovi.com" class="ofsite" title="babyloovi.com">babyloovi.com</a>
          </div>
          <div class="phone-block">
          <div class="img-phone">
            <div class="vin-text">
              <span>Головний приз!!!</span>

            </div>
          </div>
        </div>
          
          <div class="section1-content ">
            <h3>Отримуй більше з</h3>
            <img src="../img/logo-company.png">
            <div class="data-section1">
              <h4>Купуй круті гризлики</h4>
              <p> від американського бренду</p>
            </div>
            <div class="data-section2 ">
              <h4>реєструй коди та <br> вигравай подарунки,</h4>
              <p> що прикрасять життя будь-якої мами</p>
            </div>
            <div class="wrap-btn-umovu">
              <a href="#" title="Умови акції" class="umovu" >Умови акції</a>
            </div>

          </div>
         <div class="wrap-products">
           <div class="product-item">
             <img src="../img/product1.png">
           </div>
           <div class="product-item">
             <img src="../img/product2.png">
           </div>
           <div class="product-item">
             <img src="../img/product3.png">
           </div>
           <div class="product-item">
             <img src="../img/product4.png">
           </div>
         </div>
          <div class="list-ruls-registration">
            <div class="item">
              <p><span>1.</span> Купуй</p>
            </div>
            <div class="item">
              <p><span>2.</span> Реєструй промо-код</p>
            </div>
            <div class="item">
              <p><span>3.</span> Вигравай призи</p>
            </div>
          </div>
        </div>

      </div>
      
      <div class="section2">
        <div class="wrapper">
          <h2>Крок 1</h2>
          <h5>Силіконовий прорізувач зубок для малюків</h5>
          <div class="description-product">
            <ul>
              <li>
                <span>1.</span>
                <p>Виготовлено з натурального медичного силікону.</p>
              </li>
              <li>
                <span>2.</span>
                <p>Рекомендовано з першими зубками.</p>
              </li>
              <li>
                <span>3.</span>
                <p>Розроблено з урахуванням анатомічних особливостей дитини.</p>
              </li>
              <li>
                <span>4.</span>
                <p>Легко миється, не залишає на собі миючі засоби.</p>
              </li>
              <li>
                <span>5.</span>
                <p>100% безпечний для  мами та дитини.</p>
              </li>
              <li>
                <span>6.</span>
                <p>Знімає зуд при прорізуванні.</p>
              </li>
              <li>
                <span>7.</span>
                <p>Відповідає світовим екологічним стандартам.</p>
              </li>
              <li>
                <span>8.</span>
                <p>Стійкий до укусів та проколів.</p>
              </li>
              <li>
                <span>9.</span>
                <p>Можна охолоджувати перед використанням.</p>
              </li>
              <li>
                <span>10.</span>
                <p>Зручний для дитячих ручок.</p>
              </li>
              <li>
                <span>11.</span>
                <p>Найкраще для малюків з США.</p>
              </li>
              <li>
                <span>12.</span>
                <p>Приємні та яскраві образи, що піднімуть настрій будь якого малюка.</p>
              </li>
            </ul>
          </div>
          <div class="wrapper-btn">
            <div class="wrap-btn">
              <a href="#" title="Купити" class="umovu" >Купити</a>
              <div class="price-block">
                <div class="price-img">
                  <img src="../img/btn-before-price.png">
                  <span>67 грн</span>
                </div>
              </div>
            </div>
          </div>

          <div class="baby-img"></div>
          <div class="section2-decor1">
          <img src="../img/section2-decor1.png">
          </div>
          <div class="section2-decor2">
            <img src="../img/section2-decor2.png">
          </div>
        </div>
      </div>

      <div class="section3">
        <div class="wrapper">
          <h2>Крок 2</h2>
          <h5>Реєстрація коду з упаковки</h5>
          <p>Зітри захисний шар, як показано на зображенні, заповни форму та реєструйся у акції</p>
          <form action="#" method="post">
            <div class="wrap-input">
              <input type="text" name="user-name" class="user-name" placeholder="Ім’я">
            </div>
            <div class="wrap-input">
              <input type="text" name="phone-number" class="phone-number" placeholder="Телефон">
            </div>
            <div class="wrap-input">
              <input type="email" name="email" class="email" placeholder="E-mail">
            </div>
            <div class="wrap-input">
              <input type="text" name="sicret-code" class="sicret-code" placeholder="Секретний код">
              <div class="sicret-img">
                <img src="../img/sicret-img.png">
              </div>
            </div>
            <div class="wrap-button">
              <button type="submit" class="umovu">Зареєструвати</button>
            </div>

          </form>
          <div class="section3-baby">
            <img src="../img/section3-baby.png">
          </div>
        </div>
      </div>

      <div class="section4">
        <div class="wrapper">
          <h2>Крок 3</h2>
          <h5>Результати акції</h5>
          <div class="result-akcia">
            <div class="akcia-item">
              <img src="../img/akcia1.png">
              <div class="caption-akcia">
                <h3>поповнення
                  <br>
                   мобільного</h3>
                <p>щотижня </p>
              </div>
            </div>
            <div class="akcia-item">
              <img src="../img/akcia2.png">
              <div class="caption-akcia">
                <h3>підгузки <br> Pampers </h3>
                <p>кожні 2 тижні </p>
              </div>
            </div>
            <div class="akcia-item">
              <img src="../img/akcia3.png">
              <div class="caption-akcia">
                <h3>Iphon 6s </h3>
                <p>головний приз!</p>
              </div>
            </div>
          </div>
          <div class="wrap-valid-number">
            <p>Для перевірки результатів розіграшу<br> введіть свій номер телефону у форматі +38(хх) ХХХ-ХХ-ХХ та натисність “Перевірити”</p>
            <form action="#" method="post" name="valid-number">
              <input type="text" name="valid-number-phone" class="valid-number-phone" >
              <div class="wrap-btn-form">
                <button type="submit" class="umovu">Перевірити</button>
              </div>
              <div class="footer">
                <span>Copirights © 2017 Babyloovy</span>
              </div>

            </form>
          </div>
        </div>
      </div>
    </div>

  </div>

</div>


<!-- scripts
___________________________________________________________________________-->

@@include('../chunks/scripts.html')
</body>
</html>
